.search-sidebar {
  border-bottom: 1px solid gray;
}

.search-sidebar .error-message {
  color: white;
  font-size: 20px;
  /* margin-top: 5px; */
  margin-left: 10px;
}

.search-sidebar .searchForm {
  padding: 10px;
}

.search-sidebar .searchForm input {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
}
