.booking-detail-container {
  flex-wrap: wrap;
}

.booking-detail-container p {
  margin-bottom: 0px;
}

.booking-detail-container .price-details .item {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.booking-detail-container .separator-line {
  width: 90%;
  height: 1px;
  background-color: black;
  margin: 0 auto;
}

.booking-detail-container .total-price p {
  font-weight: bold;
}

.booking-detail-container .img-background {
  width: auto;
}

.booking-detail-container .img-background img {
  width: 100%;
}

.booking-detail-container .vehicle-info .info-detail,
.booking-detail-container .time .time-detail,
.booking-detail-container .price-list,
.booking-detail-container .separator-line,
.booking-detail-container .price-calculator,
.booking-detail-container .total-price,
.booking-detail-container .customer-info {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
}

.booking-detail-container .customer-info img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

