.chat-space {
  flex: 2;
}

.chat-space .chatInfo {
  height: 50px;
  background-color: #5d5b8d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: lightgray;
}

.chat-space .emptyConversation {
  height: 100%;
  width: 100%;
  background-color: #ddddf7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-space .emptyConversation p{
  font-size: 30px;
  color: darkorchid;
}

.chat-space .chatIcons {
  display: flex;
  gap: 10px;
}

.chat-space .chatIcons img {
  height: 24px;
  cursor: pointer;
}
